@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model StudentPortal.Web.Models.AddStudentViewModel ///by adding this can access properties of  addstudentviewmodel  in this cshtml
<form method="post">

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }

<h1>Add Student </h1>
<div class="mt-3">
    <label>Name</label>
    <input type="text" class="form-control" asp-for="Name" />     @* asp-for to bind form fields to this model *@
 </div>

    <div class="mt-3">
    <label>Email</label>
        <input typeof="text" class="form-control" asp-for="Email" />
    </div>

<div class="mt-3">
    <label>Phone</label>
        <input typeof="Number" class="form-control" asp-for="Phone" />
    </div>

<div class="mt-3">
        <input typeof="checkbox" class="form-check-input" id="Subscribed" asp-for="Subscribed" />
    <label class="form-check-label" for="Subscribed">Subscribed</label>
</div>

<div class="mt-3">
    <button type="submit" class="btn btn-primary">Save </button>
</div>
</form>